.container {
  display: flex;
  align-items: stretch;
  min-height: 100vh;
  background: #edf1f1;
}


.sidebar {
  width: 250px;
  background: #161616;
  color: white;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 999;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  color: white;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 12px;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}

.sidebar li:hover,
.sidebar .active {
  background: #1a252f;
}

.sidebar a {
  text-decoration: none;
  color: white;
}

.profileContent {
  flex: 1;
  margin-left: 290px;
  padding: 40px;
  background: white;
  border-radius: 12px;
  margin-top: 20px;
  margin-right: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.profileForm {

  background: white;
  padding: 20px;
  border-radius: 10px;
}

.avatarSection {
  text-align: center;
  margin-bottom: 20px;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.formGroup {
  margin-bottom: 15px;
}

.formGroup label {
  font-size: 14px;
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.formGroup input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.row {
  display: flex;
  gap: 15px;
}

.buttonGroup {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.cancelBtn,
.saveBtn,
.logoutBtn {
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
}

.cancelBtn {
  background: red;
  color: white;
}

.saveBtn {
  background: orange;
  color: white;
}

.logoutBtn {
  background: blue;
  color: white;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

* {
  box-sizing: border-box;
}