.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 20px;
  }
  
  .mainContent {
    flex: 1;
    background: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
  }
  
  .alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    padding: 10px;
    border-radius: 5px;
  }
  
  .sidebar {
    width: 250px;
    background: #161616;
    color: white;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: white;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar li {
    padding: 12px;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
  }
  
  .sidebar li:hover,
  .sidebar .active {
    background: #1a252f;
  }
  
  .sidebar a {
    text-decoration: none;
    color: white;
  }